@import "tailwindcss";

@theme {
  --color-gray-600: #717FA6;

  --color-purple-500: #766CF1;

  --color-blue-950: #1F2E55;
  --color-blue-700: #382AE1;
  --color-blue-150: #D6E1FF;
  --color-blue-100: #E0E8FF;
  --color-blue-50: #F7F9FF;

  --font-red: "Red Hat Display", sans-serif;
  --text-base: 15px;
  --leading-base: 165%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Red Hat Display", sans-serif;
}